body {
  background-color: rgb(25, 25, 25);
  color: rgb(240, 240, 240);
  text-align: center;
  font-family: Helvetica, Arial;
  line-height: 1.5em;
}

h1, h2 {
  font-weight: normal;
  font-size: 30pt;
  line-height: 1em;
  margin: 0 0 10px;
}

h1 {
  padding-top: 200px;
  background: transparent url('/images/icon.png') no-repeat scroll center top;
}

a {
  color: rgb(240, 240, 240);
}

.page-header {
  width: 400px;
  float: left;
}

.description {
  width: 340px;
  margin: 0 auto;
  text-align: left;
}

.download {
  padding: 10px 30px;
  background-color: green;
  display: inline-block;
  text-decoration: none;
}

.links {
  margin: 1em 0;
}

.links a {
  margin: 0 5px;
}

.extensions {
  margin: 75px 0 75px 400px;
}

.extension {
  display: inline-block;
  margin-bottom: 50px;
  background-color: white;
  position: relative;
  width: 400px;
  margin: 0 20px 40px;
  color: rgb(25, 25, 25);
  padding: 40px 40px 50px;
}

.extension .description {
  text-align: center;
}

.extension a {
  color: rgb(25, 25, 25);
}
