<table class="extensions">
  <tr class="headings">
    <th>Extension</th>
    <th>Description</th>
    <th>Author</th>
    <th>Date Added</th>
  </tr>

  <% @extensions.each do |extension| %>

    <tr class="extension">
      <td class="name">
        <div class="name__inner"><%= extension.name %></div>
      </td>
      <td class="description"><%= extension.description.presence || "&mdash;" %></td>
      <td class="author"><%= extension.author %></td>
      <td class="created-at"><%= extension.created_at.strftime('%-d %B %Y') %></td>
    </tr>

  <% end %>

</table>
