<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>RoboFont Mechanic</title>

    <link rel="stylesheet" href="/stylesheets/mechanic.css" type="text/css" media="screen" title="no title" charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <% if ENV['GA_ID'] %>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '<%= ENV['GA_ID'] %>', '<%= request.host %>');
        ga('send', 'pageview');
      </script>
    <% end %>

  </head>
  <body>

    <header class="page-header">
      <h1>Mechanic</h1>
      <h2>The RoboFont Extension Manager</h2>
    </header>

    <div class="illustration"></div>

    <div class="mechanic-description">
      <p>Mechanic allows you to install many of the publicly available <a href="http://robofont.com" target="_blank">Robofont</a> extensions, and notifies you when new updates are available.</p>

      <a href="https://github.com/jackjennings/Mechanic/archive/master.zip" class="download">Download</a>

      <div class="links">
        <a href="http://<%= request.host %>/rss">RSS</a>
        <a href="http://blog.robofontmechanic.com">Blog</a>
        <a href="https://twitter.com/RFMechanic">Twitter</a>
        <a href="https://github.com/jackjennings/Mechanic">GitHub</a>
      </div>
    </div>

    <div class="content">
      <%= yield %>
    </div>

    <div class="credits">
      <p>A project by <a href="https://standard-library.com" target="_blank" class="standard-library-logo logo">Standard Library</a></p>
      <p>Designed with <a href="http://khoonster.com" target="_blank">Khoon Choi</a></p>
    </div>

  </body>
</html>
